.message_title{
    font-size: 20px;
    text-align: left;
    width: 820px;
    height:36px;
    margin: 0,16px;
    margin-top: 150px;
    margin-left: 350px;
    margin-bottom: 20px;
    font-weight: bold;
}
.message_ul{
    margin:0;
    padding: 0;
    margin-left: 350px;
    margin-top: 60px;
}
.message_ul li{
    height: 30px;
    margin-top: 50px;
    cursor: pointer;
}
.message_ul li a{
    display:none;
    color: black;
    float: right;
    margin-right: 400px;
}
.message_ul li hr{
    width: 800px;
    margin-left: 0px;
    margin-top: 30px;
}
.message_text{
    margin-left: 350px;
    margin-top: 20px;
}
.message_ul li:hover a{
    display: block;
}
.message_ul li a:hover{
    color:pink;
}